<div class="card" style="width: 75rem;">
  <div class="card-body">
    <h5 class="card-title">Edit Post</h5>
    <form id="post-form">
      <div class="form-group">
        <label for="post-name">Blog Post Name:</label>
        <input
          type="text"
          class="form-control"
          id="post-name"
          value="{{title}}"
        />
        <label for="post-content">Blog Post:</label>
        <input
          type="text"
          class="form-control"
          id="post-content"
          value="{{content}}"
        />
      </div>
      <button type="submit" class="btn btn-success updated-post">Update Blog
        Post!</button>
    </form>
  </div>
</div>

<script src="/js/editpost.js"> </script>