<div class="card" style="width: 75rem;">
  <div class="card-body">
    <h5 class="card-title">Comment</h5>
    <form id="post-form">
      <div class="form-group">
        <label for="post-name">New Post Name:</label>
        <input
          type="text"
          class="form-control"
          id="post-name"
          placeholder="Example input"
        />
        <label for="post-content">New Post Name:</label>
        <input
          type="text"
          class="form-control"
          id="post-content"
          placeholder="Example input"
        />
      </div>
      <button type="submit" class="btn btn-success new-post">Create Blog Post!</button>
    </form>
  </div>
</div>

<script src="./js/newpost.js"> </script>